@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin:0px;
    padding: 0px;
}

header {
    position: fixed;
    background-color:white;
    letter-spacing: .3px;
    font-family: 'Titillium Web', sans-serif;
    width:100%;
    vertical-align: middle;
    box-shadow: 0 4px 8px rgba(0,0,0,.25), 0 0 0 transparent;
    backdrop-filter: blur(5px);
}

.logo {
    font-size:19px;
    color:black !important;
}

.header-contents {
    font-size:16px;
    margin:auto;
    display:flex;
    padding: 20px;

}

.header-contents-l {
    width:inherit;
    color: rgb(107, 107, 107);
}

.header-contents-l a:hover {
    /* font-size:19px; */
    color: black;
    transition: all 0.25s ease-in-out;
}

.header-contents-r {
    cursor:pointer;
    margin-top:-1px;
    font-size:13px;
    transition: all 0.25s ease;
    position: absolute;
    right: 50px;
    border: 1px solid;
    padding: 4px;
    border-radius: 5px;
}

.header-contents-r:hover {
    background-color: #ffc4b2;
}

.header-contents-l a {
    margin-right:35px;
    text-align:center;
    transition: all 0.25s ease-in-out;
    cursor:pointer;
}

html, body {
    overflow-x: hidden;
    min-height:110%;
}

.header-contents-l2 {
    width:inherit;
    display:none;
}

@media only screen and (max-width: 767px) {
    .header-contents-l a {
        display: none;
    }

    .fa {
        margin-top: 11px;
    }
    .header-contents-r {
        display: none;
    }

    .logo {
        display: block !important;
        width: 100%;
        font-size:25px;
    }

    .header-contents-l {
        transition: all 0.25s ease;
    }
    .header-contents-l2 {
        width:inherit;
        display:block;
        transition: all 0.25s ease;
    }
    /* .header-contents-l2 a:hover {
        color:#5eb2ff;
    } */

    .mobile-flex {
        flex-grow:1;
    }

    .dropdown-contents {
        top:70px;
    }
    
}

.osh {
    opacity:0;
}

.dropdown-open {
    transition: height 0.25s ease-in;
    width: 100%;
    padding-top:30%;
    transition: all 1s ease;
    height: calc(100vh - 50px) !important;
    background-color: black;
    opacity:1 !important;
}

.dropdown-contents {
    position: fixed;
    transition: height 0.25s ease-in;
    height:0px;
    width: 100%;
    transition: all 1s ease;
    background-color: white;
    /* display:flex; */
    /* flex-direction: column; */
    overflow:hidden;
    /* font-size: 12px; */
    opacity:0;
}



.dd-component {
    cursor: pointer;
    flex-grow:1;
    max-height:50px;
    text-align: center;
    margin:20px;
    font-size:20px;
    font-family: 'Titillium Web', sans-serif;
}

.underline {
    display: inline;
    position: relative;
    overflow: hidden;
  }
  .underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -3px;
    background: #000;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .underline:hover:after,
  .underline:focus:after,
  .underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

  .osh-ani {
    transition: all .5s ease;
    opacity:0;
  }